@import _vars.sass

@font-face 
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf');


@font-face 
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');


body
    font-family: $textFont

a 
    text-decoration: none

li
    list-style-type: none


.container 
    max-width: 1182px
    margin: 0 auto


.pageHeader 
    padding: 44px 0
    position: fixed
    right: 0
    left: 0    

    &__nav 
        display: flex
        justify-content: space-between


    &__logo 
        font-family: $titleFont
        text-transform: uppercase
        +textProperties(36px, normal, 30px, 2.304px, #fff)

    &__navList 
        display: flex

    &__link
        font-family: $titleFont
        padding: 30px
        +textProperties(14px, 400, 21px, 1.94px, #fff)
        text-transform: uppercase
        

    &__navItem:last-of-type > &__link
        padding-right: 0

.topSlider 
    width: 100%
    overflow: hidden

    &__slides 
        display: flex
        width: 300%

    &__image 
        width: 100%
        object-fit: cover

    &__text 

    &__controls 
