@import _vars.sass

@font-face 
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf');


@font-face 
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');


body
    font-family: 'OpenSans', sans-serif

a 
    text-decoration: none

li
    list-style-type: none


.container 
    max-width: 1182px
    margin: 0 auto


.pageHeader 
    padding: 74px 0
    position: fixed
    

    &__nav 
        display: flex
        justify-content: space-between

    &__logo 
        color: #fff

    &__navList 
        display: flex

    &__navItem 

    &__link 
        color: #fff

.topSlider 

    &__slides 

    &__image 

    &__text 

    &__controls 
